<header>
    <div class="header-left">
      <img class="logo" src="../images/logo.svg" alt="Logo" width="40" height="40">
      <div class="logo-name">RentHub</div>
    </div>
    <div class="header-right">
      <button id="open-sidebar" onclick="openSidebar()">
        <img src="../images/menu.svg" alt="Open" width="40" height="40">
      </button>
      <nav id="navbar">
        <ul>
          <li>
            <button id="close-sidebar" onclick="closeSidebar()">
              <img src="../images/close.svg" alt="Close" width="40" height="40">
            </button>
          </li>
          <li class="nav-ele explore"><a href="/index.html">Explore</a></li>
          <li class="nav-ele contact-us"><a href="/pages/product.html">Contact Us</a></li>
          <li class="auth-item nav-signup"><a href="/pages/signup.html">Sign Up</a></li>
          <li class="auth-item nav-login"><a href="/pages/login.html">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  